@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=REM:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Noto+Sans&family=REM:wght@300&display=swap");

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* ===================  Main Section ======================================= */
.main {
  position: relative;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main img {
  clip-path: circle(325vh at 50% -80vh) !important;
  width: 100vw;
}
.black {
  background-color: black;
  opacity: 0.7;
  height: 100%;
  width: 100vw;
  position: absolute;
  clip-path: circle(325vh at 50% -80vh) !important;
  top: 0;
}

.main-headlines {
  position: absolute;
  text-align: center;
  z-index: 1;
}
span.main-words {
  font-size: 27px;
  font-weight: 600;
}
h2.main-headline {
  font-size: 65px;
  font-weight: 900;
  margin: 0;
  margin-bottom: 2%;
}
span.red {
  color: red;
}
button.main-headline-login {
  background: rgb(0 0 0 / 48%);
  border: 2px solid red;
  border-radius: 30px;
  padding: 12px 20px;
  color: white;
  font-size: 15px;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: all 0.3s linear;
}
button.main-headline-login:hover {
  background-color: red;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(231, 230, 230, 0.281);
}
/* ==================================================
   ----------------  RESPONSIVE ---------------------
   ================================================== */

@media screen and (max-width: 1200px) {
  .logo {
    margin-left: 5%;
  }
  .list-parent {
    margin-right: 3%;
  }
}
@media screen and (max-width: 1100px) {
  .logo {
    font-size: 35px;
  }
  .list-parent li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .list-parent li {
    margin: 0 15px;
  }
  .list-parent li a {
    font-size: 18px;
  }
  .logo {
    font-size: 30px;
  }
  h2.main-headline {
    font-size: 60px;
    font-weight: 900;
    margin: 0;
    margin-bottom: 5px;
  }
  span.main-words {
    font-size: 20px;
    font-weight: 600;
  }
}
@media screen and (max-width: 792px) {
  h2.main-headline {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
  }
  .logo {
    font-size: 35px;
  }
  span.main-words {
    font-size: 20px;
    font-weight: 600;
  }
  button.main-headline-login {
    padding: 7px 18px;
      color: white;
      font-size: 12px;
      margin-top: 5px;
}
}
@media screen and (max-width: 576px) {
  h2.main-headline {
    font-size: 30px;
    font-weight: 900;
    margin: 0;
  }
  span.main-words {
    font-size: 14px;
    font-weight: 600;
  }
  .main-headlines {
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-top: 20%;
  }
  .main-headline-login {
    background: rgb(0 0 0 / 48%);
    border: 2px solid red;
    border-radius: 20px;
    padding: 6px 9px;
    color: white;
    font-size: 10px;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: all .5s linear;
    margin-top: 10px;
  }
  button.main-headline-login {
    padding: 8px 11px;
    font-size: 7px;

}
}

@media screen and (max-width: 400px) {
  h2.main-headline {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
  }
  span.main-words {
    font-size: 10px;
    font-weight: 600;
  }
  .main-headlines {
    position: absolute;
    text-align: center;
    z-index: 1;
    margin-top: 20%;
  }
  button.main-headline-login {
    background: rgb(0 0 0 / 48%);
    border: 1px solid red;
    border-radius: 20px;
    padding: 3px 8px;
    color: white;
    font-size: 6px;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: all .5s linear;
}
}
